In [6]:
import numpy as np
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
association=pd.read_csv('association.csv', low_memory=False)

In [15]:
association=association.drop_duplicates()

In [58]:
association.shape

(1579, 29257)

In [16]:
finalData = association.groupby(['UNIQUETRANS']).sum()

In [17]:
finalData.head(5)

,SKU:_387,SKU:_756,SKU:_1192,SKU:_2186,SKU:_2563,SKU:_3392,SKU:_3653,SKU:_4045,SKU:_4243,SKU:_4797,...,SKU:_9996576,SKU:_9997198,SKU:_9997301,SKU:_9997457,SKU:_9997494,SKU:_9997836,SKU:_9998300,SKU:_9998516,SKU:_9999170,SKU:_9999950
UNIQUETRANS,,,,,,,,,,,,,,,,,,,,,
120020050125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130020050104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130020050113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130020050115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130020050117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
frequentItemsets = apriori(finalData, min_support=0.001, use_colnames=True)

In [55]:
rules = association_rules(frequentItemsets, metric="lift", min_threshold=1)

In [56]:
print(rules)

          antecedents                                        consequents  \
0         (SKU:_9633)                                     (SKU:_1842285)
1      (SKU:_1842285)                                        (SKU:_9633)
2      (SKU:_4008011)                                        (SKU:_9633)
3         (SKU:_9633)                                     (SKU:_4008011)
4         (SKU:_9633)                                     (SKU:_4108011)
...               ...                                                ...
93351   (SKU:_126170)  (SKU:_7044853, SKU:_5378213, SKU:_9186625, SKU...
93352  (SKU:_1937918)  (SKU:_7044853, SKU:_5378213, SKU:_9186625, SKU...
93353   (SKU:_186170)  (SKU:_7044853, SKU:_5378213, SKU:_9186625, SKU...
93354  (SKU:_6163107)  (SKU:_7044853, SKU:_5378213, SKU:_9186625, SKU...
93355   (SKU:_708367)  (SKU:_7044853, SKU:_5378213, SKU:_9186625, SKU...

       antecedent support  consequent support   support  confidence  \
0                0.001005            0.002010  0.001005         1.0
1                0.002010            0.001005  0.001005         0.5
2                0.002010            0.001005  0.001005         0.5
3                0.001005            0.002010  0.001005         1.0
4                0.001005            0.006030  0.001005         1.0
...                   ...                 ...       ...         ...
93351            0.001005            0.001005  0.001005         1.0
93352            0.001005            0.001005  0.001005         1.0
93353            0.001005            0.001005  0.001005         1.0
93354            0.001005            0.001005  0.001005         1.0
93355            0.001005            0.001005  0.001005         1.0

             lift  leverage  conviction
0      497.500000  0.001003         inf
1      497.500000  0.001003     1.99799
2      497.500000  0.001003     1.99799
3      497.500000  0.001003         inf
4      165.833333  0.000999         inf
...           ...       ...         ...
93351  995.000000  0.001004         inf
93352  995.000000  0.001004         inf
93353  995.000000  0.001004         inf
93354  995.000000  0.001004         inf
93355  995.000000  0.001004         inf

[93356 rows x 9 columns]

In [57]:
rules.describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,93356.000000,93356.000000,93356.000000,93356.000000,93356.000000,93356.000000,9.335600e+04
mean,0.001037,0.001037,0.001005,0.987939,971.475658,0.001004,inf
std,0.000265,0.000265,0.000007,0.082178,114.288466,0.000007,NaN
min,0.001005,0.001005,0.001005,0.111111,23.690476,0.000963,1.121608e+00
25%,0.001005,0.001005,0.001005,1.000000,995.000000,0.001004,inf
50%,0.001005,0.001005,0.001005,1.000000,995.000000,0.001004,inf
75%,0.001005,0.001005,0.001005,1.000000,995.000000,0.001004,inf
max,0.009045,0.009045,0.002010,1.000000,995.000000,0.002006,inf

In [62]:
rules[ rules['lift'] >= 990].describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,8.942800e+04,8.942800e+04,8.942800e+04,89428.0,89428.0,8.942800e+04,89428.0
mean,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf
std,1.427469e-15,1.427469e-15,1.427469e-15,0.0,0.0,2.012290e-15,NaN
min,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf
25%,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf
50%,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf
75%,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf
max,1.005025e-03,1.005025e-03,1.005025e-03,1.0,995.0,1.004015e-03,inf

In [66]:
rules=rules[(rules['lift'] >= 900) & (rules['confidence'] >= 1)]

In [5]:
rules.describe()

NameError: name 'rules' is not defined

In [68]:
export_csv = rules.to_csv ('rules.csv', index = None, header=True)