In [1]:
import numpy as np
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
info=pd.read_csv('skuinfo.csv')

/Users/anna2/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
brands=info.iloc[: , [0,9]].copy() 
brands.columns=['SKU','BRAND']
brands=brands.append({'SKU': 3, 'BRAND': "TURNBURY"},ignore_index=True)
brands.head

<bound method NDFrame.head of              SKU      BRAND
0              4  C A SPOR
1              5  BEAU IDE
2              8  HARTSTRI
3             15  JONES/LA
4             20  BROWN SH
...          ...        ...
1048571  6696642  REPUBLIC
1048572  6696645  RAMPAGE
1048573  6696647  JESSICA
1048574  6696651  KORET OF
1048575        3   TURNBURY

[1048576 rows x 2 columns]>

In [21]:
brands=brands.sort_values('SKU')

In [22]:
brands.reset_index(drop=True)

             SKU      BRAND
0              3   TURNBURY
1              4  C A SPOR
2              5  BEAU IDE
3              8  HARTSTRI
4             15  JONES/LA
...          ...        ...
1048571  6696641  NEXT MAR
1048572  6696642  REPUBLIC
1048573  6696645  RAMPAGE
1048574  6696647  JESSICA
1048575  6696651  KORET OF

[1048576 rows x 2 columns]

In [24]:
export_csv = brands.to_csv ('SKU_BRANDS.csv', index = None, header=True)